
  body {
    background-color: blue;
  }
  hr {
    border-style: dotted none none none;
    width: 5%;
    border-color: grey;
    border-height: 20px;
  }
  h1 {
   color: #66BF8F;
  }
  h3 {
    color: purple;
  }
  .circular {
     border-radius:100%;
  }
